

.menu {
    grid-area: navbar;
    background-color: #F2DBD5;
    text-align: center;
}
.menu-burger {
    display: none;
}

.options {
    background-color: #F4EEED;
    grid-area: options;
    padding-left:  6%;
    padding-right: 6%;
    display: grid;
    align-items: center; 
}

main {
    background-color:#F4EEED;
    grid-area: main;
}

footer { 
    background-color: #D9B2A9;
    grid-area: footer;
}


.container-grid {
    display: grid;
    grid-template-areas: 
    "navbar options"
    "navbar main"
    "footer main";
    grid-auto-columns: 15% auto;
    grid-template-rows: 10% auto 15%;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}


.logo {
    display: flex;
    justify-content: center;
    height: 20vh;
    align-items: center;
    background-color:#F2DBD5;
}

.logo img {
    height: 70px;
    width: 65px;
}
.nav-text {
    padding: 6%;
    font-weight: bolder;
}

.navbar {
    background-color:#F2DBD5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ul {
    list-style: none;
}

li:hover {
    color:#D9B2A9; 
    font-weight: bold;
    cursor: pointer;
} 

.contenedor-principal {
    display:flex;
    flex-direction: column;
    background-color: #F4EEED;
}
.options {
    display: grid;

    align-items: center;   
}
.options p {
    text-align: center;
    margin-bottom: 1%;
}

.form-select {
    width: 100%;
}

.galery {
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color:white;
}
.grid-item {
    border: 1px solid #F4EEED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.item-img {
width: 200px;
height: 300px;
padding:1%;
margin-bottom: 2%;
border:solid 1px #F4EEED;
}

.btn {
    min-width: 130px;
    height: 40px;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #D9B2A9;
}

  .btn:hover {
    box-shadow: 0 3px #F2C6C2;
    top: 1px;
  }
  .btn:active {
    box-shadow: 0 0 #F2C6C2;
    top: 5px;
  }

  .text-card {
    padding-bottom: 2%;
    margin-bottom: 2%;
  }

.pagination {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.icon-footer {
    text-align: center;
    padding-top: 2%;
  }
.footer-text {
    text-align: center;
    padding-top: 3%;
}

@media (max-width: 576px) {
    .container-grid {
        display: grid;
        grid-template-areas: 
        "navbar"
        "options"
        "main"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 2% 2% auto 2%;
    }
    .galery {
        display:grid;
        grid-template-columns: 1fr;
        overflow-y: scroll;
       }

    .menu-burger {
        display: block;
    }
    .navbar ul {
        display: none;
    }
    .logo img {
        width: 60px;
        height: 60px;
    }
    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .icon-footer {
        padding-top:  2%;
    }
    .footer-text {
        padding-top: 1%;
    }
    .pagination {
        margin-bottom: 1%;
    }
    .options {
        padding-left: 7%;
        padding-right: 7%;
    }
}